shairport/sifteam_shairport/airplay
shairport/sifteam_shairport/hairtunes
mfi_airplay/AirPlayAudioPOSIXReceiver/Platform/Platform_OSX_Stubs/obj/airplayd
mfi_airplay/AirPlayAudioPOSIXReceiver/Platform/Platform_OSX_Stubs/obj/libAirPlay.a
mfi_airplay/WAC_POSIX_Server_1.22/WACServer
mplayer/MPlayer-1.1/ffmpeg/libavcodec/aac_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/aac_tables.h
mplayer/MPlayer-1.1/ffmpeg/libavcodec/aacps_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/aacps_tables.h
mplayer/MPlayer-1.1/ffmpeg/libavcodec/cbrt_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/cbrt_tables.h
mplayer/MPlayer-1.1/ffmpeg/libavcodec/cos_fixed_tables.c
mplayer/MPlayer-1.1/ffmpeg/libavcodec/cos_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/cos_tables.c
mplayer/MPlayer-1.1/ffmpeg/libavcodec/pcm_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/pcm_tables.h
mplayer/MPlayer-1.1/ffmpeg/libavcodec/sinewin_tablegen
mplayer/MPlayer-1.1/ffmpeg/libavcodec/sinewin_tables.h
